<ion-view view-title="Login">
    <ion-content>
        <h1>Login</h1>
        <form ng-submit="loginCtrl.doLogin(user)">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="user.name">
                </label>
            </div>
            <div class="list">
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="user.password">
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Login</button>
            </div>
        </form>
    </ion-content>
</ion-view>