<ion-view view-title="Login">
    <ion-content>
        <h1>Login</h1>
        <form name="userValidate" ng-submit="loginCtrl.doLogin(userValidate)" novalidate>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="user.name" data-ng-required="true">
                </label>
                <code>userValidate.$error.required = {{!!userValidate.$error.required}}</code><br>
            </div>
            <div class="list">
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="user.password" data-ng-required="true">
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Login</button>
            </div>
        </form>
    </ion-content>
</ion-view>